<header>
  <div class="container">
    <div class="top">
      <button class="menu">
        <div class="flex-center">
          <img src="./images/menu.svg" alt="" />
        </div>
        <p>Sections</p>
      </button>
      <form>
        <label class="flex-center" for="headerinput">
          <img src="./images/Search.svg" alt="" />
        </label>
        <input type="text" id="headerinput" placeholder="Search" />
      </form>
      <div class="image">
        <div class="thumb">
          <img src="./images/headerimage.png" alt="" />
        </div>
      </div>
      <div class="text">
        <p>Subscribe Now</p>
        <p class="gray">3 month for $19</p>
      </div>
      <button class="signin">
        <div class="thumb">
          <img src="./images/Man.svg" alt="" />
        </div>
        <p>Sign In</p>
      </button>
    </div>
    <div class="bottom">
      <div class="freedom">
        <div class="thumb">
          <img src="./images/freedom.png" alt="" />
        </div>
        <p>Boston and New York Bear Brunt</p>
      </div>
      <div class="title">
        <img src="./images/Universal.svg" alt="" />
      </div>
      <div class="info">
        <p class="wid">Monday, January 1, 2018</p>
        <div class="weather">
          <div class="flex-center">
            <img src="./images/Sun.svg" alt="" />
          </div>
          <p>- 23 °C</p>
        </div>
      </div>
    </div>
  </div>
</header>
