<section class="main">
  <div class="dark"></div>
  <div class="container">
    <nav class="navigation">
      <a href="/">News</a>
      <a href="/">Opinion</a>
      <a href="/">Science</a>
      <a href="/">Life</a>
      <a href="/">Travel</a>
      <a href="/">Moneys</a>
      <a href="/">Art & Design</a>
      <a href="/">Sports</a>
      <a href="/">People</a>
      <a href="/">Health</a>
      <a href="/">Education</a>
    </nav>
    <ul class="posters">
      <li>
        <p>25 Songs That Tell Us Where Music Is Going</p>
        <img src="./images/p1.png" alt="" />
      </li>
      <li>
        <p>These Ancient Assassins Eat Their Own Kind</p>
        <img src="./images/p2.png" alt="" />
      </li>
      <li>
        <p>How Do You Teach People to Love Difficult Music?</p>
        <img src="./images/p3.png" alt="" />
      </li>
      <li>
        <p>International Soccer’s Man of Mystery</p>
        <img src="./images/p4.png" alt="" />
      </li>
    </ul>

    <div class="head"></div>
    <div class="cars">
      <h3>Cars</h3>
      <p>The joy of replicas: A $ 5 million car for $ 50,000</p>
      <p>
        The 31-year-old self-taught engineer and former amateur racer spends
        his days building artful recreations of one of most iconic sports cars
      </p>
    </div>
    <div class="art"></div>
    <div class="columns"></div>
    <div class="cat">
      <img src="./images/cat.png" alt="cat" />
      <p>200+ Doomed Cats Saved From Euthanization</p>
    </div>
    <div class="text1">
      <h3>Is Coffee Bad for Bones?</h3>
      <p>
        A global history of the factory and the modern world that all should
        read
      </p>
      <p>Oct 15</p>
    </div>
    <div class="text2">
      <h3>What We Manufacture</h3>
      <p>
        Coffee drinkers may excrete more calcium, but it doesn’t appear to
        weaken bones
      </p>
      <p>Oct 16</p>
    </div>
    <div class="text3">
      <h3>It’s a Stressful World</h3>
      <p>
        Can a cruise skeptic enjoy four days on the seas with his family and a
        bunch of princesses?
      </p>
      <p>Oct 14</p>
    </div>
    <div class="text4">
      <h3>A Treat for Lemon Lovers</h3>
      <p>
        This tangerine, ginger and chocolate tart has verve, depth and a hint of
        spice
      </p>
      <p>Oct 13</p>
    </div>
  </div>
</section>
